/* Header.css */
.header {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.header-title {
  font-size: 2em;
  margin: 0;
}

.nav {
  display: flex;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px; /* Add some spacing between links */
}

.nav a:first-child {
  margin-left: 0; /* No margin for the first link */
}

.nav a:hover {
  text-decoration: underline;
}
