body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root{
  height: 100vh;
  width: 100%;
}

#contact{
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.section {
  padding: 40px;
  background-color: #efbff8; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  margin-bottom: 40px; 
}

.section-contact{
  display: grid;
  place-items: center;
}

.section-contact-section{
  height: 100vh;
  width: 100%;
}

.section-divider {
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
  color: #6917ac; 
  display: grid;
  place-items: center;
}

.section-description {
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 20px;
}

#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content {
  max-width: 600px;
}

.about-content h2 {
  color: #fff;
  font-size: 3em;
}

.about-content p {
  color: #fff;
  font-size: 1.2em;
}
